name: QA Runner

on:
  pull_request:

permissions:
  id-token: write
  contents: write
  actions: write
  pull-requests: write

jobs:
  ci:
    uses: "./.github/workflows/ci_test.yml"
    secrets: inherit
  build_qa:
    needs: [ci]
    uses: "./.github/workflows/qa_build_release.yml"
    with:
      pr_number: ${{ github.event.number }}
    secrets: inherit
