name: Staging-Runner

on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: write
  actions: write
  pull-requests: write

jobs:
  ci:
    uses: "./.github/workflows/ci_test.yml"
    secrets: inherit
  build_qa:
    needs: [ci]
    uses: "./.github/workflows/staging_build_release.yml"
    secrets: inherit
