name: test
permissions:
  id-token: write
  contents: write
  actions: write

on:
  workflow_call:

jobs:
  typecheck:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ["20.x", "22.x"]
    name: typecheck-${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
        with:
          environment-version: ${{ matrix.node-version }}

      - name: Run Type Check
        run: npm run typecheck

  lint-base:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ["20.x", "22.x"]
    name: lint-base-${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
        with:
          environment-version: ${{ matrix.node-version }}

      - name: Run Lint Check
        run: npm run lint
